<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Navigation Areas</title>
  <style>
    .polygon-navigation-group {
      fill: whitesmoke;
      opacity: 0.7;
      stroke: black;
      stroke-width: 2px;
    }
    .polygon-mowing-group {
      fill: greenyellow;
      opacity: 0.7;
      stroke: black;
      stroke-width: 2px;
    }
    .polygon-deleted {
      fill: gray;
      opacity: 0.7;
      stroke: black;
      stroke-width: 2px;
    }
    .polygon-obstacle {
      fill: lightpink;
      opacity: 0.7;
      stroke: black;
      stroke-width: 2px;
    }
    .selected-polygon {
      stroke: red;
      stroke-width: 2px;
    }
    .vertex {
      fill: white;
      opacity: 0.7;
      stroke: black;
      stroke-width: 1px;
      cursor: move;
    }
    .hovered-vertex {
      fill: lightblue;
    }
    .save-button {
      margin-top: 10px;
    }
    .mow-path {
      fill: none;
      stroke: red;
      stroke-opacity: 0.5;
      opacity: 0.7;
      stroke-width: 2px;
    }
    .robot-position {
      fill: none;
      stroke: red;
      opacity: 0.7;
      stroke-width: 2px;
    }
    .gps-position-fixed {
      fill: darkgreen;
    }
    .gps-position-float {
      fill: orange;
    }
    .hit-position {
      fill: red;
      stroke: black;
      stroke-width: 2px;
    }
    .d3-context-menu {
      position: absolute;
      display: none;
      background-color: #f2f2f2;
      border-radius: 4px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      min-width: 150px;
      border: 1px solid #d4d4d4;
      z-index:1200;
    }

    .d3-context-menu ul {
      list-style-type: none;
      margin: 4px 0px;
      padding: 0px;
      cursor: default;
    }

    .d3-context-menu ul li {
      padding: 4px 16px;
    }

    .d3-context-menu ul li:hover {
      background-color: #4677f8;
      color: #fefefe;
    }

    .hidden-block {
      display: none;
      visibility: hidden;
    }
    .visible-block {
      display: block;
      visibility: visible;
    }
    button {
      padding: 5px;
      font-family: 'Courier New', Courier, monospace;
      font-size: xx-large;
      width: 200px;
    }
    svg {
      border: 1px solid lightgray;
      width: 100%;
      height: 100%;
    }
    #map {
      width: 90vw;
      height: 90vh;
    }
  </style>
</head>
<body style="font-family: 'Courier New', Courier, monospace;">
  <!--Home position dialog-->
  <div id="home_position" style="position:absolute; top: 10px; left: 10px; background-color: lightgray; padding: 20px;" class="hidden-block">
    <input id="home_x" type="text"><input id="home_y" type="text">
    <button id="set_home">Set</button>
    <button id="cancel_home">Cancel</button>
  </div>
  <!--Edit dialog-->
  <div id="edit_dialog" style="position:absolute; top: 10px; left: 10px; background-color: lightgray; padding: 20px;" class="hidden-block">
    <button class="save-button">Save</button>
    <button class="exit-edit">Return</button>
    <span id="pos_label" style="padding:20px; width:200px; display: inline-block;"></span>
  </div>
  <!--Main-->
  <div style="padding: 10px;">
    <button class="start-button">Start</button>
    <button class="home-button">Home</button>
    <button class="skip-button">Skip</button>
    <span id="settings" style="padding:20px">
      <input id="track_position" type="checkbox">Track GPS position</input>
    </span>
  </div>
  <div><div id="map"></div></div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"></script>
  <script src="js/symbols.js"></script>
  <script src="js/ros.js"></script>
  <script src="js/contextMenu.js"></script>
  <script>
    const mapMargin = 2;
    const vertexRadius = 3;
    let map;
    let domain;
    let xScale, yScale;
    let xAxis, yAxis;

    // create main containers
    let svg = d3.select("#map").append("svg");
    let mainGroup = svg.append("g").attr("id", "main-group");
    zoom = d3.zoom()
      .on("zoom", function (event) {
        updateMapAfterZoom(event);
      })
      .extent([[0, 0], [1024, 800]])
      .scaleExtent([.5, 3]);
    svg.call(zoom);

    // update position labels
    svg.on("mousemove", function(event) {
      const pointer = d3.pointer(event);
      const x = xScale.invert(pointer[0]);
      const y = yScale.invert(pointer[1]);
      d3.select("#pos_label").text("x: " + x.toFixed(2) + ", y: " + y.toFixed(2));
    });

    // manage zoom
    function updateMapAfterZoom(event) {
      mainGroup.attr("transform", event.transform);
    }

    // load map
    fetch('/map')
      .then(response => response.json())
      .then(data => {
        map = data;

        renderData();
      })
      .catch(error => console.error(error));

    function computeDomain() {
      const minX = d3.min(map.mowing_areas, d => d3.min(d.points, p => p.x));
      const maxX = d3.max(map.mowing_areas, d => d3.max(d.points, p => p.x));
      const minY = d3.min(map.mowing_areas, d => d3.min(d.points, p => p.y));
      const maxY = d3.max(map.mowing_areas, d => d3.max(d.points, p => p.y));
      return {
        minX: minX,
        maxX: maxX,
        minY: minY,
        maxY: maxY
      }
    }

    function renderData() {
      // Remove existing navigation groups
      mainGroup.selectAll(".navigation-group").remove();
      mainGroup.selectAll(".mowing-group").remove();

      domain = computeDomain();

      xScale = d3.scaleLinear()
      .domain([domain.minX - mapMargin, domain.maxX + mapMargin])
      .range([0, 800]);

      yScale = d3.scaleLinear()
        .domain([domain.minY - mapMargin, domain.maxY + mapMargin])
        .range([800, 0]);

      // Append x-axis to the SVG
      xAxis = mainGroup.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0, " + yScale(0) + ")") // Position the x-axis at the bottom
        .call(d3.axisBottom(xScale).ticks(20));

      // Append y-axis to the SVG
      yAxis = mainGroup.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(" + xScale(0) + ", 0)") // Position the x-axis at the bottom
        .call(d3.axisLeft(yScale).ticks(20));

      renderAreas(map.navigation_areas, "navigation-group");
      renderAreas(map.mowing_areas, "mowing-group");
      renderHome(map.docking_point, "docking-point");
      // connect after render to make sure the map is already drawned
      ros.connect('ws://{{ rosbridge_host }}:{{ rosbridge_port }}');
    }
    function renderAreas(navigation_areas, className) {

        for (let idx = 0; idx < navigation_areas.length; idx++) {
          renderNavigationArea(navigation_areas[idx], idx, className);
        }
    }

    // Update the polygon's points when a vertex is moved
    function updatePolygon(group) {
      const points = group.data()[0].points;
      group.select(".polygon")
        .attr("points", points.map(p => `${xScale(p.x)}, ${yScale(p.y)}`).join(" "));
    }

    let startX = 0, startY = 0;
    // Drag behavior for vertices
    function drag() {
      return d3.drag()
        .on("start", function (event) {
          const selected = d3.select(this);
          selected.classed("selected-vertex", true);
          startX = parseFloat(selected.attr("cx")) - event.x;
          startY = parseFloat(selected.attr("cy")) - event.y;
        })
        .on("drag", function (event, d) {
          const scaledX = xScale.invert(event.x + startX);
          const scaledY = yScale.invert(event.y + startY);
          d.x = scaledX;
          d.y = scaledY;
          d3.select("#pos_label").text("x: " + scaledX.toFixed(2) + ", y: " + scaledY.toFixed(2));
          d3.select(this)
            .attr("cx", event.x + startX)
            .attr("cy", event.y + startY);
          updatePolygon(d3.select(this.parentNode));
        })
        .on("end", function () {
          d3.select(this).classed("selected-vertex", false);
        });
    }

    function createVertices(navigationGroups, points, withDelete = true) {
      // Create vertices for each point in the navigation area
      if (withDelete) {
        mainGroup.selectAll(".vertex").remove();
      }
      let dataAreaIndex = navigationGroups.attr("index");
      let obstacleIndex = navigationGroups.attr("index");
      if (navigationGroups.attr("area-type") === "obstacle") {
        dataAreaIndex = navigationGroups.attr("data-area-index");
      }
      const vertices = navigationGroups.selectAll(".vertex")
        .data(points)
        .enter()
        .append("circle")
        .attr("class", "vertex")
        .attr("r", vertexRadius)
        .attr("cx", d => xScale(d.x))
        .attr("cy", d => yScale(d.y))
        .attr("data-area-index", dataAreaIndex)
        .attr("data-obstacle-index", obstacleIndex)
        .attr("data-point-index", (d, i) => i)
        .attr("area-type", navigationGroups.attr("area-type"))
        .on("mouseover", function () {
          d3.select(this).classed("hovered-vertex", true);
        })
        .on("mouseout", function () {
          d3.select(this).classed("hovered-vertex", false);
        })
        .on("contextmenu", contextMenu(getMenuVertex({ map })))
        .call(drag());
        // show edit dialog
        d3.select("#edit_dialog").classed("hidden-block", false);
    }

    function insertPoint(x, y, data) {
      x = xScale.invert(x);
      y = yScale.invert(y);
      // find the right segment
      for (let i = 0; i < data.length-1; i++) {
        const p1 = data[i];
        const p2 = data[i+1];
        const d = Math.sqrt(Math.pow(p2.x - p1.x, 2) + Math.pow(p2.y - p1.y, 2));
        const d1 = Math.sqrt(Math.pow(p2.x - x, 2) + Math.pow(p2.y - y, 2));
        const d2 = Math.sqrt(Math.pow(x - p1.x, 2) + Math.pow(y - p1.y, 2));
        if (Math.abs(d - (d1 + d2)) < 0.1) {
          data.splice(i+1, 0, {x: x, y: y});
          return;
        }
      }
    }

    function renderNavigationArea(navigation_area, idx, className, withVertices = false) {
      const areaId = className + "-" + idx;
      // Remove existing navigation group
      mainGroup.selectAll("#" + areaId).remove();

      const navigationGroups = mainGroup.selectAll("#" + areaId)
        .data([navigation_area])
        .enter()
        .append("g")
        .attr("id", areaId)
        .attr("area-type", className)
        .attr("class", className)
        .attr("index", idx);

      // Create polygons for each navigation area
      const polygon = navigationGroups.append("polygon")
        .attr("class", "polygon" + (navigation_area._deleted ? " polygon-deleted" : " polygon-" + className))
        .attr("points", d => d.points.map(p => `${xScale(p.x)}, ${yScale(p.y)}`).join(" "))
        .on("contextmenu", contextMenu(getMenuArea({ map, areaIndex: idx, className, xScale, yScale, area: navigation_area, group: navigationGroups })))
        .on("click", function (event, d) {
          if (d3.select(this).classed("selected-polygon")) {
            if (event.shiftKey) {
              const pointer = d3.pointer(event);
              insertPoint(pointer[0], pointer[1], d.points);
              renderNavigationArea(d, idx, className, true);
            }
          } else {
            // renderNavigationArea(d, idx, className, true);
            d3.selectAll(".polygon").classed("selected-polygon", false);
            d3.select(this).classed("selected-polygon", true);
          }
        });
      d3.selectAll(".polygon").classed("selected-polygon", false);
      polygon.classed("selected-polygon", withVertices);
      // Create area vertices
      if (withVertices) {
        createVertices(navigationGroups, navigation_area.points);
      }
      // Create polygons for obstacles
      for(let o = 0; o < navigation_area.obstacles.length; o++) {
        const obstacle = navigation_area.obstacles[o];
        const obstacleGroupId = className + "-" + idx + "-obstacle-" + o;

        mainGroup.selectAll("#" + obstacleGroupId).remove();

        const obstacleGroup = navigationGroups.append("g")
          .data([obstacle])
          .attr("id", obstacleGroupId)
          .attr("area-type", "obstacle")
          .attr("data-area-index", idx)
          .attr("class", "obstacle")
          .attr("index", o);

        obstacleGroup.append("polygon")
          .attr("class", "polygon" + (obstacle._deleted ? " polygon-deleted" : " polygon-obstacle"))
          .attr("points", d => d.points.map(p => `${xScale(p.x)}, ${yScale(p.y)}`).join(" "))
          .on("contextmenu", contextMenu(getMenuObstacle({ map, areaIndex: idx, obstacleIndex: o, className, xScale, yScale,  area: navigation_area, obstacle, group: obstacleGroup })))
          .on("click", function (event, d) {
              if (event.shiftKey) {
                const pointer = d3.pointer(event);
                insertPoint(pointer[0], pointer[1], d.points);
              }
              renderNavigationArea(navigation_area, idx, className, true);
          });
        
        if (withVertices) {
          createVertices(obstacleGroup, obstacle.points, false);
        }
      }

      // Attach keydown event listener to delete vertices with "Del" key
      d3.select("body").on("keydown", function (event) {
        if (event.key === "Delete") {
          const selectedVertex = d3.select(".hovered-vertex");
          if (!selectedVertex.empty()) {
            const areaIndex = selectedVertex.attr("data-area-index");
            const obstacleIndex = selectedVertex.attr("data-obstacle-index");
            const pointIndex = selectedVertex.attr("data-point-index");
            const areaType = selectedVertex.attr("area-type");
            removeVertex(areaType, areaIndex, obstacleIndex, pointIndex);
          }
        }
      });

      function removeVertex(areaType, areaIndex, obstacleIndex, pointIndex) {
        switch(areaType) {
          case "navigation-group":
            map.navigation_areas[areaIndex].points.splice(pointIndex, 1);
            renderNavigationArea(map.navigation_areas[areaIndex], areaIndex, "navigation-group", true);
            break;
          case "mowing-group":
            map.mowing_areas[areaIndex].points.splice(pointIndex, 1);
            renderNavigationArea(map.mowing_areas[areaIndex], areaIndex, "mowing-group", true);
            break;
          case "obstacle":
            map.mowing_areas[areaIndex].obstacles[obstacleIndex].points.splice(pointIndex, 1);
            renderNavigationArea(map.mowing_areas[areaIndex], areaIndex, "mowing-group", true);
            break;
        }
      }
    }

    function renderHome(homePosition, className) {
      mainGroup.selectAll(".home-group").remove();

      const homeGroup = mainGroup.selectAll(".home-group")
        .data([homePosition.position])
        .enter()
        .append("g")
        .attr("class", "home-group");

      house(homeGroup);
      homeGroup.attr("transform", d => `translate(${xScale(d.x)-7}, ${yScale(d.y)-7})`);
      d3.selectAll(".home-group").on("click", function (event, d) {
        d3.select("#home_position").classed("hidden-block", false);
      });
      d3.select("#home_x").attr("value", homePosition.position.x);
      d3.select("#home_y").attr("value", homePosition.position.y);
    }
    function setHomePosition() {
      const x = parseFloat(d3.select("#home_x").property("value"));
      const y = parseFloat(d3.select("#home_y").property("value"));
      map.docking_point.position.x = x;
      map.docking_point.position.y = y;
      renderHome(map.docking_point, "docking-point");
      d3.select("#home_position").classed("hidden-block", true);
    }
    function resetHomePosition() {
      renderHome(map.docking_point, "docking-point");
      d3.select("#home_position").classed("hidden-block", true);
    }

    function saveNavigationAreas() {
      for (let area of map.navigation_areas) {
        area.obstacles = area.obstacles.filter(o => !o._deleted);
      }
      for (let area of map.mowing_areas) {
        area.obstacles = area.obstacles.filter(o => !o._deleted);
      }
      fetch('/map', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(map)
      })
        .then(response => {
          if (response.ok) {
            console.log('Navigation areas saved successfully');
          } else {
            console.error('Failed to save navigation areas');
          }
        })
        .catch(error => console.error(error));
    }

    function simulate() {
      const angle = parseInt(document.querySelector('#angle_input').value) * Math.PI / 180;
      // display mow path
      for (let i = 0; i < map.mowing_areas.length; i++) {
        const navigation_area = map.mowing_areas[i];
        const navigationGroups = mainGroup.selectAll("#mowing-group-" + i);
        navigationGroups.selectAll(".mow-path").remove();
        getMowPath(navigation_area.points, navigation_area.obstacles, {
          angle
        }, function(result) {
          for (let path of result.paths) {
            navigationGroups.append("polyline")
              .attr("class", "mow-path mow-path-"+(path.is_outline ? "outline" : "inner"))
              .attr("points", path.path.poses.map(p => `${xScale(p.pose.position.x)}, ${yScale(p.pose.position.y)}`).join(" "));
          }
        });
      }
    }

    function startSelectedArea() {
      const selectedArea = d3.select(".selected-polygon");
      if (selectedArea.empty()) {
        start();
      }
      const group = selectedArea.node().parentNode;
      const areaIndex = d3.select(group).attr("index");
			d3.selectAll(".mow-path").remove();
			startArea(parseInt(areaIndex));
    }

    // Attach event listener to the save button
    const saveButton = document.querySelector('.save-button');
    saveButton.addEventListener('click', saveNavigationAreas);
    // Attach event listener to the save / cancel home button
    const setHomeButton = document.querySelector('#set_home');
    setHomeButton.addEventListener('click', setHomePosition);
    const cancelHomeButton = document.querySelector('#cancel_home');
    cancelHomeButton.addEventListener('click', resetHomePosition);
    // track gps position listener
    const trackPositionCheckbox = document.querySelector('#track_position');
    trackPositionCheckbox.addEventListener('change', function() {
      if (trackPositionCheckbox.checked) {
        startGpsListener(position => {
            addGpsPosition(position, false);
          });
      } else {
        stopGpsListener();
      }
    });
    // Attach event listener to start button
    document.querySelector('.start-button').addEventListener('click', startSelectedArea);
    // Attach event listener to home button
    document.querySelector('.home-button').addEventListener('click', dock);
    // Attach event listener to home button
    document.querySelector('.skip-button').addEventListener('click', skip);
    // Attach event listener to return button
    document.querySelector('.exit-edit').addEventListener('click', function() {
      d3.select("#edit_dialog").classed("hidden-block", true);
      mainGroup.selectAll(".vertex").remove();
    });
  </script>
</body>
</html>
